.Chat {
    display: grid;
    grid-template-columns: 22% auto;
    gap: 1rem;
    height: calc(100vh - 2rem);
    padding: 1rem;
}

.Left-side-chat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Chat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--cardColor, #ffffff);
    border-radius: 1rem;
    padding: 1rem;
    height: auto;
    min-height: 80vh;
    overflow-y: scroll;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}

.Chat-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Right-side-chat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conversation {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conversation:hover {
    background: #80808038;
    cursor: pointer;
}

.online-dot {
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 0.8rem;
    height: 0.8rem;
}

.follower {
    display: flex;
    align-items: center;
}

.follower>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 0.8rem;
}

.name {
    font-weight: bold;
    font-size: 0.9rem;
}

.ChatBox-container {
    background: var(--cardColor, #ffffff);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 60vh 13vh;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}

.chat-header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ececec;
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow-y: scroll;
}

.message {
    background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
    color: white;
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message.own {
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
}

.time {
    font-size: 0.7rem;
    color: white;
    align-self: end;
}

.chat-sender {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;
    margin: 0 1rem;
}

.chat-input {
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 1;
    padding: 0px 15px;
}

.send-button {
    height: 70%;
    padding: 0px 20px;
    background: #f95f35;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}